@import url(variaveis.css);

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e5;
    z-index: 1;
}

.popup .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--fundo-secundario);
    padding: 50px;
    border-radius: 10px;
}

.content i {
    color: white;
    align-self: flex-end;
    cursor: pointer;
}

.content input {
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #94A3B8;
    color: white;
}

.content input::placeholder {
    color: rgba(255, 255, 255, 0.488);
}

.content button {
    background-color: var(--botao);
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    color: var(--texto-principal);
    font-weight: bolder;
}

.content button:hover {
    background-color: var(--botao-hover);
    cursor: pointer;
}

.content select {
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #94A3B8;
    color: white;
}

.content select option {
    background-color: var(--fundo-secundario);
}