@import url(variaveis.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo-principal);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 15px;
}

header div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header div i {
    color: var(--texto-principal);
}

header div i:hover {
    cursor: pointer;
    color: var(--destaque);
}

/*-------------------------------*/

main {
    margin-top: -50px;
    padding: 15px;
    color: var(--texto-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

main section {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

main section button {
    background-color: var(--botao);
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    color: var(--texto-principal);
    font-weight: bolder;
}

main section button:hover {
    background-color: var(--botao-hover);
    cursor: pointer;
}

main section.hero {
    text-align: center;
}

main section.hero p {
    color: var(--texto-secundario);
}


/*--------------------------------*/

section.simulacao {
    display: none;
}

.simulacao p {
    color: var(--texto-secundario);
}

div.lista-economias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0 15px;
}

div.lista-economias div.card {
    height: 120px;
    width: 220px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--fundo-secundario);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px var(--texto-secundario);
    cursor: pointer;

    transition: opacity 0.5s ease;
}

div.card:hover {
    opacity: 0.8;
}

div.card h3 {
    font-size: 1rem;
}

div.card p {
    font-size: 0.9rem;
}

/* div.cafe {
    grid-area: 1/2/2/3;
}

div.delivery {
    grid-area: 1/3/2/4;
}

div.assinatura {
    grid-area: 1/4/2/5;
}

div.uber {
    grid-area: 2/2/2/3;
} */

div.personalizado {
    order: 1;
    opacity: 0.5;
}

div.personalizado:hover {
    opacity: 1;
}

div.lista-economias div.ativo {
    background-color: var(--card-ativo);
    border: solid 1px var(--valor-positivo);
}