/* CARD CRIAR ECONOMIA */

.card {
    cursor: pointer;
    transition: border 0.5s ease, background-color 0.5s ease;
}

.card:hover {
    border: 1px solid #198754;
}

#card-criar-economia {
    transition: opacity 0.5s ease;
}

.card.active {
    background-color: #198754;
}

/* ACORDEAO */

.accordion {
    --bs-accordion-color: #198754;
    --bs-accordion-border-color: #198754;

    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-btn-focus-box-shadow: 0px 0px 5px 1px #198754;

    --bs-accordion-active-bg: #198754;
    --bs-accordion-active-color: #ffffff;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
}